<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Name:</h3>
    <p><%= @name %></p>
    <h3>Number:</h3>
    <p><%= @number %></p>
    <h3>email:</h3>
    <p><%= @email %></p>
    <h3>Message:</h3>
    <p><%= @message %></p>
  </body>
</html>
