<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12">
        <h3>Thanks for visiting</h3>
        <p>
            If you’re looking for any Building work in and around St Albans
            then please do not hesitate to contact us. We pride ourselves on
            our great level of service and high standard of workmanship.
        </p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3 col-6 text-center">
        <h3>Address</h3>
        <address>
            <p>Ayub Chowk</p>
            <p>Phase 2</p>
            <p>Johar Town</p>
            <p>Lahore</p>
        </address>
        </div>
        <div class="col-lg-3 col-6 last_col text-center">
        <h3>Navigate</h3>
        <ul>
            <li><a href="<%= root_path %>">Home</a></li>
            <li><a href="<%= root_path %>">Portfolio</a></li>
            <li><a href="<%= root_path %>">About</a></li>
            <li><a href="<%= pages_contact_path %>">Contact</a></li>
        </ul>
        </div>
    </div>
</div>